@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


i {
	cursor: pointer;
}

a {
	text-decoration: none;
}

input[type="radio"] {
	display: none;
}

input[type="checkbox"] {
	display: none;
}


button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

button {
	border: none;
	padding: 0;
	color: inherit;
	cursor: pointer;
}

*:focus {
	outline: none;
}

img {
	width: 100%;
	height: auto;
}