$width: 1170px;
$max-width: 768px;
$color-border: #d9d9d9;
$about: (0px, 0px, 0px, 0px, 47px, 47px, 147px, 109px, '../image/icons.png', 'about', );
$about-you: (62px, 0px, -62px, 0px, 47px, 47px, 147px, 109px, '../image/icons.png', 'aboutYou', );
$js: (0px, 62px, 0px, -62px, 47px, 47px, 147px, 109px, '../image/icons.png', 'js', );
$js-in: (62px, 62px, -62px, -62px, 47px, 47px, 147px, 109px, '../image/icons.png', 'js_in', );
$metka: (124px, 0px, -124px, 0px, 23px, 26px, 147px, 109px, '../image/icons.png', 'metka', );